<template>
  <div class="container" :style="{backgroundImage:grid}">
    <div class="container__stocked">
      Можно восстановить<br>
      <div v-for="(item,index) in this.$store.state.unpinnedWidgets" :key="index" class="container__stocked_button" @click="restore(item.id)">
        Окно {{ item.title }}
      </div>
    </div>

    <float-window
      v-for="(item,index) in this.$store.state.widgets"
      :id="item.id"
      :key="index"
      :title="item.title"
      :active="item.active"
      :layer="item.layer"
      :left="item.left"
      :top="item.top"
      :width="item.width"
      :height="item.height"
      :grid-size="gridSize"
      @selected="setActive"
      @changePositions="moved"
      @changeSize="resized"
      @close="close"
    />
  </div>
</template>

<script>
import FloatWindow from '~/components/ui/floatWindow'
export default {
  components: { FloatWindow },
  async fetch () {
    if (this.$store.state.loaded === false) {
      const windowsList = await fetch('/settings/windows.json').then(res => res.json())
      this.$store.commit('SET_WidgetState', windowsList)
    }
    this.windowsList = JSON.parse(JSON.stringify(this.$store.state.widgets))
  },
  data () {
    return {
      windowsList: [],
      removed: [],
      grid: '',
      gridSize: 50,
      defaults: {
        width: 300,
        height: 100
      }
    }
  },
  mounted () {
    const cnv = document.createElement('canvas')
    cnv.width = window.screen.width
    cnv.height = window.screen.height
    const ctx = cnv.getContext('2d')
    ctx.strokeStyle = '#dbdbdb'
    const w = cnv.width - 1
    const h = cnv.height - 1
    const span = this.gridSize
    for (let x = -0.5; x < w; x += span) { ctx.strokeRect(x, 0, 0.1, h) }
    for (let y = -0.5; y < h; y += span) { ctx.strokeRect(0, y, w, 0.1) }
    this.grid = "url('" + cnv.toDataURL() + "')"
  },
  methods: {
    moved (vector) {
      const index = this.$store.state.widgets.findIndex(f => f.id === vector.id)
      this.$store.commit('SET_WidgetStateItem', { index, name: 'top', value: vector.top })
      this.$store.commit('SET_WidgetStateItem', { index, name: 'left', value: vector.left })
    },
    resized (transform) {
      const index = this.$store.state.widgets.findIndex(f => f.id === transform.id)
      this.$store.commit('SET_WidgetStateItem', { index, name: 'width', value: transform.width })
      this.$store.commit('SET_WidgetStateItem', { index, name: 'height', value: transform.height })
    },
    close (id) {
      this.$store.commit('FROM_PinToUnpin', id)
    },
    restore (id) {
      const width = this.defaults.width
      const height = this.defaults.height
      const left = window.innerWidth / 2 - (this.defaults.width / 2)
      const top = window.innerHeight / 2 - (this.defaults.height / 2)
      this.$store.commit('FROM_UnpinToPin', { id, top, left, width, height })
    },
    setActive (id) {
      const index = this.$store.state.widgets.findIndex(f => f.id === id)
      for (const i in this.$store.state.widgets) {
        this.$store.commit('SET_WidgetStateItem', { index: i, name: 'active', value: false })
      }
      if (index > -1) {
        this.$store.commit('SET_WidgetStateItem', { index, name: 'active', value: true })
        this.$store.commit('SET_WidgetStateItem', { index, name: 'layer', value: Math.max.apply(Math, this.$store.state.widgets.map(function (o) { return o.layer })) + 1 })
      }
    }
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}
.container .container__stocked{
  position: absolute;top:200px;right:100px;
  width:200px;
  border:1px solid red
}
.container .container__stocked .container__stocked_button{
  text-decoration: none;
  color: #fff;
  display: block;
  border:1px solid #000;
  cursor: pointer;
  float: left;
  color: black;
  width: 100px;
  padding: 10px;}
.container .container__stocked .container__stocked_button:hover{
  background: #007fff;
  color: white;
}
</style>
