<template>
  <div>
    <div class="button" @click="subscribe">
      Subcribe
    </div>
    <div class="button" @click="unsubscribe">
      UnSubcribe
    </div>
    <div class="button" @click="resetBuffer">
      Reset
    </div>
    Transactions: {{ transactionBuffer.length }}
    <table class="table">
      <thead><tr><td>from</td><td>to</td><td>time</td></tr></thead>
      <tbody>
        <tr v-for="(transaction,id) in transactionBuffer" :key="id">
          <td>
            <div v-for="(from,i1) in transaction.x.inputs" :key="i1">
              {{ from.prev_out.addr }}
            </div>
          </td>
          <td>
            <div v-for="(from,i2) in transaction.x.out" :key="i2">
              {{ from.addr }}
            </div>
          </td>
          <td>
            <div>
              {{ toTime(transaction.x.time) }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

export default {
  name: 'Index',
  data () {
    return {
      transactionBuffer: [],
      client: {}
    }
  },
  mounted () {
    this.$options.sockets.onmessage = r => this.transactionBuffer.push(JSON.parse(r.data))
  },
  destroyed () {
    this.$socket.sendObj({ op: 'unconfirmed_unsub' })
    delete this.$options.sockets.onmessage
  },
  methods: {
    toTime (secs) {
      const t = new Date(1970, 0, 1)
      t.setSeconds(secs)
      return t
    },
    subscribe () {
      this.$socket.sendObj({ op: 'unconfirmed_sub' })
    },
    unsubscribe () {
      this.$socket.sendObj({ op: 'unconfirmed_unsub' })
    },
    resetBuffer () {
      this.transactionBuffer = []
    }
  }

}
</script>

<style scoped>
.button{     text-decoration: none;
  color: #fff;
  display: block;
  border:1px solid #000;
  cursor: pointer;
  float: left;
  color: black;
  width: 100px;
  padding: 10px;}
.button:hover{
  background: #007fff;
  color: white;
}
.table{
  width: 100%;
}
.table td{border:1px solid #000}
</style>
