<template>
  <vue-resizable
    ref="resizableComponent"
    class="resizable"
    :drag-selector="dragSelector"
    :active="handlers"
    :fit-parent="fit"
    :max-width="maxW | checkEmpty"
    :max-height="maxH | checkEmpty"
    :min-width="minW | checkEmpty"
    :min-height="minH | checkEmpty"
    :width="width"
    :height="height"
    :left="left"
    :top="top"
    :style="{zIndex:layer}"
    @mount="eHandler"
    @resize:move="eHandler"
    @resize:start="eHandler"
    @resize:end="eHandler"
    @drag:move="eHandler"
    @drag:start="eHandler"
    @drag:end="eHandler"
  >
    <div class="resizable__block">
      <div :class="{'drag_container' : true}" :style="{backgroundColor:active?'#6b6262':'#b1b1b1'}">
        <div>{{ title }}</div>
        <div class="close" @click="close">
          X
        </div>
      </div>
      <div class="table-container">
        some data
      </div>
    </div>
  </vue-resizable>
</template>

<script>
import VueResizable from 'vue-resizable'
export default {
  components: { VueResizable },
  filters: {
    checkEmpty (value) {
      return typeof value !== 'number' ? 0 : value
    }
  },
  props: {
    id: {
      type: [Number],
      default: () => 0,
      require: true
    },
    title: {
      type: [String],
      default: () => 'No name',
      require: false
    },
    gridSize: {
      type: [Number],
      default: () => 10,
      require: false
    },
    active: {
      type: [Boolean],
      default: () => false,
      require: false
    },
    layer: {
      type: [Number],
      default: () => 0,
      require: false
    },
    maxW: {
      type: [Number],
      default: () => 800,
      require: false
    },
    maxH: {
      type: [Number],
      default: () => 800,
      require: false
    },
    minW: {
      type: [Number],
      default: () => 85,
      require: false
    },
    minH: {
      type: [Number],
      default: () => 85,
      require: false
    },
    height: {
      type: [Number],
      default: () => 100,
      require: false
    },
    width: {
      type: [Number],
      default: () => 300,
      require: false
    },
    left: {
      type: [Number],
      default: () => 150,
      require: false
    },
    top: {
      type: [Number],
      default: () => 150,
      require: false
    }
  },

  data () {
    return {
      handlers: ['r', 'rb', 'b', 'lb', 'l', 'lt', 't', 'rt'],
      fit: false,
      dragSelector: '.drag_container'
    }
  },

  methods: {
    close () {
      this.$emit('close', this.id)
    },

    eHandler (data) {
      const left = data.left
      const top = data.top
      if (data.eventName === 'drag:start' || data.eventName === 'resize:start') {
        this.$emit('selected', this.id)
      }
      if (data.eventName === 'drag:start' || data.eventName === 'resize:start' || data.eventName === 'drag:end' || data.eventName === 'resize:end' || data.eventName === 'mount') {
        const topPosition = Math.round(top / this.gridSize) * this.gridSize
        const leftPositin = Math.round(left / this.gridSize) * this.gridSize
        this.$emit('changePositions', { id: this.id, top: topPosition, left: leftPositin })
      }
      if (data.eventName === 'resize:start' || data.eventName === 'resize:end') {
        this.$emit('changeSize', { id: this.id, width: data.width, height: data.height })
      }
    }
  }
}
</script>

<style scoped>

.resizable {
  border: 1px solid #003eff;
  background: #007fff;
  color: #ffffff;
  position: absolute;
  z-index:0;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.resizable .resizable__block {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #000;
  display: block;
}

.resizable .drag_container{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  cursor: pointer;
  width: 100%;
  height: 20px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.resizable .drag_container div{
  float: left;
}
.resizable .drag_container div.close{
  width:20px;
  background:#ff0000;
  padding-top: 0;
  padding-left:6px;
  float: right!important;
}

</style>
