<template>
  <div class="layout">
    <div class="menu">
      <nuxt-link to="/widgets/">
        Widgets
      </nuxt-link>
      <nuxt-link to="/sockets/">
        Sockets
      </nuxt-link>
    </div>

    <div class="layout">
      <Nuxt />
    </div>
  </div>
</template>

<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,body,#__nuxt,#__layout{
  margin: 0;
  height:100%;
}
.layout{
  width:100%;
  height:100%;
}
.menu {background: black;height:50px}
.menu a{
  text-decoration: none;
  color: #fff;
  display: block;
  float: left;
  width: 100px;
  padding: 10px;
}
.menu a:hover{
  background: #007fff;

}
</style>
